build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
*.o
*.so
*.a
*.dylib
*.lib
lazybios_test
*_test
*.out
*.elf
.idea/
.vscode/
*.code-workspace
*.sublime-workspace
*.sublime-project
*.log
*.tmp
*.swp
*~
*.dir
*.cmake.user
*.gcda
*.gcno
*.gcov
compile_commands.json
